:root {
    --cor-corpo: #1D232A;
    --cor-cabecalho: #1D232A;
    --cor-cabecalho-mobile: #15191C;
    --cor-menu-lateral: #15191C;
    --cor-cartao: #2C343A;
    --cor-fonte: #FFFFFF;
    --cor-fonte-alternativa: #95999C;
    --cor-links: #0480DC;
    --cor-botao: #0480DC;
    --cor-sombras: 0px 4px 4px rgba(0, 0, 0, 0.16);

    --font-open-sans: 'Open Sans', sans-serif;
}

body {
    background-color: var(--cor-cabecalho);
    font-family: var(--font-open-sans);
    color: var(--cor-fonte);
}

/*o cabeçalho se tornou um flex-container*/
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-menu-lateral);
    padding: 8px 16px;
    box-shadow: var(--cor-sombras);
}